/* Asegúrate de que el body cubra toda la altura de la pantalla */
body {
    min-height: 100vh; /* Mínimo 100% del viewport height */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Contenedor principal que incluye el contenido de la página */
.maintenance-content {
    flex: 1; /* Hace que el contenido ocupe el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Asegura que el footer esté siempre en la parte inferior */
footer {
    background: linear-gradient(135deg, #003366, #808080);
    color: white;
    text-align: center;
    padding: 1.5em 0;
    margin-top: auto; /* Permite que el footer se mantenga en la parte inferior si hay poco contenido */
    width: 100%;
}

/* Estilo general del texto en la página de mantenimiento */
.maintenance-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #003366;
    font-weight: bold;
    text-align: center;
}

.maintenance-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #666666;
    text-align: center;
}

/* Estilos para hacer la imagen responsive */
.maintenance-icon img {
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
    height: auto;    /* Mantén la proporción de la imagen */
    display: block;
    margin: auto;  /* Centra la imagen horizontalmente */
}

/* Media Queries para dispositivos tablets */
@media screen and (max-width: 768px) {
    .maintenance-content h1 {
        font-size: 2em; /* Reduce el tamaño del título en tablets */
    }

    .maintenance-content p {
        font-size: 1.1em; /* Reduce ligeramente el tamaño del texto en tablets */
    }

    .maintenance-icon img {
        max-width: 80%; /* Ajusta el tamaño de la imagen en tablets */
    }
}

/* Media Queries para dispositivos móviles */
@media screen and (max-width: 480px) {
    .maintenance-content h1 {
        font-size: 1.8em; /* Reduce aún más el tamaño del título en móviles */
    }

    .maintenance-content p {
        font-size: 1em; /* Ajusta el tamaño del texto en móviles */
    }

    .maintenance-icon img {
        max-width: 90%; /* Ajusta el tamaño de la imagen en móviles */
    }
}
